body
{
    background-color: tan;
}

/*basligi duzenledim.*/
h1
{
    margin-left: 1em;
}

/*id'nin ismi bolme olan div'i duzenledim.*/
#bolme 
{
   width: 80em;
   height: 30em;
   margin: 30px 50px;
   background-color: #ffffff;
   border: 1px solid black;

}

/*id'nin ismi bolme olan div'in icindeki p etiketini duzenledim.*/
#bolme p
{
    margin:30px 40px;
    /*ustten 30px soldan 40px bosluk aldim.*/
    font-weight: bold;
    /*yazilari koyu yazdirdim.*/
    color: #000000;
    /*yazi rengi*/
}

/*anasayfaya donme butonunu sekillendirdim.*/
#btn1{
    width: 60px;
    height: 60px;
    text-align: center;
    border: none;
    cursor: pointer;
    /*imlec uzerine geldiginde degisecek.*/
    color: white;
    outline: none;
    background-color: coral;
    padding: 14px 24px;
    border-radius: 10px;
    box-shadow: 0 4px black;
    /*resim ekledim*/
    background-image: url(ev_tusu.jpg);
    /*resim tekrar etmiyecek tek resim olacak*/
    background-repeat:no-repeat;
    /*resmi merkezledim*/
    background-position:center;
    /*butona sigdirdim*/
    background-size:100% 100%;
    margin-right: 20px;
    
}

/*3d efekt*/
#btn1:active{
    background-color: coral;
    box-shadow: 0 3px black;
    transform: translateY(3px);
}

/*carpmaya gidecek olan butonu bicimlendirme*/
#btn2{
    width: 60px;
    height: 60px;
    text-align: center;
    border: none;
    cursor: pointer;
    color: white;
    outline: none;
    background-color: coral;
    padding: 14px 24px;
    border-radius: 10px;
    box-shadow: 0 4px black;
    /*resim ekledim*/
    background-image: url(sol_ok.jpg);
    /*resim tekrar etmiyecek tek resim olacak*/
    background-repeat:no-repeat;
    /*resmi merkezledim*/
    background-position:center;
    /*butona sigdirdim*/
    background-size:100% 100%;
    margin-right: 20px;
    
}

/*3d efekt*/
#btn2:active{
    background-color: coral;
    box-shadow: 0 3px black;
    transform: translateY(3px);
}

